@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
  --animate-speed: 2s;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.4rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 1rem;
  margin: 0;
  height: 100vh;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo h1 {
  font-size: 2.1rem;
  margin: 0 0 1rem 0;
}

.logo img {
  margin: -15px;
}

.page h3 {
  font-size: 2rem;
  margin: 1rem 0 0 0;
}

.page p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 2rem 0;
}

#home p {
  font-size: 1.3rem;
  margin-bottom: 3rem;
}

.btn {
  background: black;
  color: white;
  padding: 0.5rem 2rem;
  margin: 0 5px;
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn-light {
  background: white;
  color: black;
}

.btn-light:hover {
  background: black;
  color: white;
}

#home { 
  background: #F24236; 
  color: white;
}

.bg-tindero-1 { background: url('./img/chito-miranda.jpg') no-repeat center center/cover; }
.bg-tindero-1:before {  background: rgba(245,247,73,0.9); }

.bg-tindero-2 { background: url('./img/jay-contreras.png') no-repeat center center/cover; }
.bg-tindero-2:before { background: rgba(246,245,174,0.9); }

.bg-tindero-3 { background: url('./img/kean-cipriano.jpg') no-repeat center center/cover; }
.bg-tindero-3:before { background: rgba(46,134,171,0.9); }

.bg-tindero-4 { background: url('./img/monty-macalino.jpg') no-repeat center center/cover; }
.bg-tindero-4:before { background: rgba(86,85,84,0.9); }

.bg-tindero-5 { background: url('./img/zel-bautista.jpg') no-repeat center center/cover; }
.bg-tindero-5:before {  background: rgba(173,122,153,0.9); }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1;
  left: 1;
  opacity: 0.5;
  z-index: -1;
}

.bg:before {
  content: "";
  position: absolute;
  left: 0; right: 0;
  top: 0; bottom: 0;
}

img {
  height: 200px;
  margin: 0;
}